a:visited {
    color: #5e8bde;
}

a {
    color: #5e8bde;
}

a:hover {
    color: #5e8bde;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    color: #ffffff;
    font-family: Georgia, serif;
    font-weight: lighter;
    margin: 40px 0px 10px 0px;
    padding: 0;
}

div.body h2 {
    font-size: 1.5em;
}

div.body h3 {
    color: #cfd1d8;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}